<div class="dr-page-header-condition">
    <div class="row">
        <div class="col col-xs-4">
            <span class="title">代理人等级管理</span>
        </div>
    </div>
</div>
<div class="dr-tb-container">
    <div class="table-responsive">
        <table class="table table-hover sort-table">
            <thead>
            <tr>
                <th style="width:5%" class="text-center">序号</th>
                <th style="width:10%" class="text-center">代理人等级</th>
                <th style="width:10%" class="text-center">基础佣金系数</th>
                <th style="width:10%" class="text-center">最小等级金额</th>
                <th style="width:40%" class="text-center">邀请权益</th>
                <th style="width:25%" class="text-center">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="row in tableData">
                <td>{{row.id}}</td>
                <td>{{row.levelName}}</td>
                <td>{{row.brokerageFactor}}%</td>
                <td>{{row.minInvestAmount}}</td>
                <td>
                    <button type="button" class="btn btn-primary btn-label-tag btn-sm"
                            ng-repeat="item in row.proxyEquitys track by $index">
                        {{item.equityName}}
                    </button>
                </td>
                <td>
                    <button class="btn btn-link" ng-click="setCommissionFactor(row)">设置等级信息</button>
                    <button class="btn btn-link" ng-click="setInviteRights(row)">设置邀请权益</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
