<div class="dr-page-header-condition">
    <div class="row">
        <div class="col-xs-4">
            <span class="title">设置邀请权益</span>
        </div>
        <div class="col-xs-8 text-right">
            <div class="form-inline">
                <div class="form-group">
                    <button class="btn btn-primary btn-sm" ng-click="inviteRightAdd()">+ 新增邀请权益</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="dr-tb-container">
    <form name="basicForm">
    <div class="row">
        <div class="col-xs-7">
            <span class="title">代理人等级：{{vm.levelName}}</span>
        </div>
        <div class="col-xs-5">
            <span class="title">邀请权益池</span>
        </div>
    </div>
    <div class="row row-top">
        <div class="col-xs-5">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th style="width: 100%">
                        <div class="col-xs-1">
                            <div class="checkbox-custom">
                                <input type="checkbox" id="checkboxAll-chosen" ng-model="vm.checked" ng-click="allCheckSelect($event)">
                                <label for="checkboxAll-chosen"></label>
                            </div>
                        </div>
                        <div class="col-xs-10">
                            权益名称
                        </div>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="row in vm.selectedTableList track by $index">
                    <td>
                        <div class="row">
                            <div class="col-xs-1">
                                <button class="btn btn-link" ng-click="showDetail = !showDetail">
                                    <i class="fa fa-plus-square-o" ng-if="!showDetail"></i>
                                    <i class="fa fa-minus-square-o" ng-if="showDetail"></i>
                                </button>
                            </div>
                            <div class="col-xs-1">
                                <div class="checkbox-custom">
                                    <input type="checkbox" id="checkbox1-chosen{{$index}}"
                                           ng-checked="row.selected"
                                           ng-click="checkSelect(row,$event)"/>
                                    <label for="checkbox1-chosen{{$index}}"></label>
                                </div>
                            </div>
                            <div class="col-xs-10">
                                {{row.equityName}}
                            </div>
                        </div>
                        <div class="row row-detail" ng-show="showDetail">
                            <div class="col-xs-offset-1">
                                <small>
                                    <div ng-repeat="item in row.proxyEquityTickets">{{item.couponTemplateName}}:{{item.couponNumber}}</div>
                                </small>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-xs-2 text-center">
            <div class="form-group">
                <button class="btn btn-secondary" ng-click="moveOut()" ng-disabled="vm.multipleRecordsForSelectedIr.length==0">移出 ></button>
            </div>
            <div class="form-group">
                <button class="btn btn-secondary" ng-click="moveIn()" ng-disabled="vm.multipleRecordsForUnSelectedIr.length==0">< 移入</button>
            </div>
        </div>
        <div class="col-xs-5">
            <table class="table">
                <thead>
                <tr>
                    <th style="width: 85%">
                        <div class="col-xs-1">
                            <div class="checkbox-custom">
                                <input type="checkbox" id="checkboxAll-unChosen" ng-model="vm.checked1" ng-click="allCheckSelect1($event)">
                                <label for="checkboxAll-unChosen"></label>
                            </div>
                        </div>
                        <div class="col-xs-10">
                            权益名称
                        </div>
                    </th>
                    <th style="width: 15%"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="row in vm.unSelectedTableList track by $index">
                    <td>
                        <div class="row">
                            <div class="col-xs-1">
                                <button class="btn btn-link" ng-click="showDetai2 = !showDetai2">
                                    <i class="fa fa-plus-square-o" ng-if="!showDetai2"></i>
                                    <i class="fa fa-minus-square-o" ng-if="showDetai2"></i>
                                </button>
                            </div>
                            <div class="col-xs-1">
                                <div class="checkbox-custom">
                                    <input type="checkbox" id="checkbox1-unchosen{{$index}}"
                                           ng-checked="row.selected"
                                           ng-click="checkSelect1(row,$event)"/>
                                    <label for="checkbox1-unchosen{{$index}}"></label>
                                </div>
                            </div>
                            <div class="col-xs-10">
                                {{row.equityName}}
                            </div>
                        </div>
                        <div class="row row-detail" ng-show="showDetai2">
                            <div class="col-xs-offset-1">
                                <small>
                                    <div ng-repeat="item in row.proxyEquityTickets">{{item.couponTemplateName}}:{{item.couponNumber}}</div>
                                </small>
                            </div>
                        </div>
                    </td>
                    <td>
                        <button type="button" class="btn btn-link" ng-confirm="deleteInviteRightById(row.id)" ng-confirm-message="确认要删除【{{row.equityName}}】？">删除
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row row-top">
        <div class="col-xs-12 text-center">
            <div>Tips:每个等级邀请权益至少有一项，在新用户通过对应渠道注册成功后触发发放</div>
            <div>Tips:当且仅当邀请权益池内权益没有被挂靠任何代理人等级时，可被删除</div>
        </div>
    </div>
    <div class="row row-top">
        <div class="col-xs-12 text-center">
            <button class="btn btn-primary btn-plr-35" ng-click="updateProxyLevelIrCurrent()">确认</button>
            <button class="btn btn-secondary btn-plr-35" ui-sref="main.proxylevel">返回</button>
        </div>
    </div>
    </form>
</div>
