<div class="dr-form" style="margin-top: 10px;">
    <!--<div class="modal-header">-->
    <!--<h4 class="modal-title" id="myModalLabel">选择渠道</h4>-->
    <!--</div>-->
    <div class="modal-body">
        <div class="tab-content">
            <div class="tab-pane fade in active" >
                <div class="modal-body modal-box dr-tb-container" style="max-height:500px;overflow-y:auto;">
                    <table class="table table-striped" style="margin-bottom: 0">
                        <thead>
                        <tr>
                            <th>渠道ID</th>
                            <th>渠道名称</th>
                            <th>渠道状态</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="row in data track by $index">

                            <td>{{row.id}}</td>
                            <td>{{row.refferalName}}</td>
                            <td>{{row.refferalStatus}}</td>
                            <td>
                                <button class="btn btn-link"
                                        ng-disabled="row.refferalStatus=='结束合作' || checkboxFilter(row, 'channel')"
                                        ng-click="getSelectData(row)">
                                    <img ng-if="!row.selected" src="../../image/icon-radio-unchecked.png">
                                    <img ng-if="row.selected" src="../../image/icon-radio-checked.png">
                                </button>
                                <!--<input type="radio" ng-model="row.checked"-->
                                <!--ng-disabled="row.refferalStatus=='结束合作' || checkboxFilter(row, 'channel')"/>-->
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>

        </div>
    </div>
    <div class="modal-footer">
        <div class="dr-btn-bar">
            <button class="btn btn-primary btn-plr-35" type="button" ng-click="ok()">确定</button>
            <button class="btn btn-secondary btn-plr-35" type="button" ng-click="cancel()">取消</button>
        </div>
    </div>
</div>