<div class="dr-page-header-condition">
    <!-- <div class="form-inline">
       div class="form-group">
            <input type="text" class="form-control" placeholder="活动名称" ng-model="viewModel.mgmName"/>
        </div>
        <div class="form-group">
            <div class="form-group m-0 dr-date-group">
                <i class="icon-icon-schedule"></i>
                <input
                        type="text"
                        class="form-control"
                        readonly
                        ng-click="open1()"
                        uib-datepicker-popup="yyyy-MM-dd"
                        ng-model="viewModel.startDate"
                        placeholder="发放时间"
                        is-open="popup1.opened"/>

            </div>
           <!-- <div class="form-group m-0 dr-date-group ">
                <i class="icon-icon-schedule"></i>
                <input
                        type="text"
                        class="form-control"
                        readonly
                        ng-click="open2()"
                        uib-datepicker-popup="yyyy-MM-dd"
                        ng-model="viewModel.endDate"
                        placeholder="结束时间"
                        is-open="popup2.opened"/>

            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-default" ng-click="query()">查询</button>
        </div>
       <div class="form-group float-lg-right">
            <button class="btn btn-link" ng-click="exportMainReport()">
                <i class="icon-icon-excel"></i>
                导出Excel
            </button>
        </div>
    </div>-->
    <div class="row">
        <div class="col col-xs-8">
            <span class="title">奖励统计主报表</span>
        </div>
    </div>
</div>
<div class="dr-tb-container">
    <div class="table-responsive">
        <table class="table sort-table" style="width:100%">
            <thead>
            <tr>
                <th tb-sort="mgmId" style="width:10%" class="text-center">MGMID</th>
                <th tb-sort="mgmName" style="width:10%" class="text-center">活动名称</th>
                <th tb-sort="activityId" style="width:15%" class="text-center">ActivityId</th>
                <th tb-sort="couponName" style="width:25%" class="text-center">CouponName</th>
                <th tb-sort="provideNum" style="width:15%" class="text-center">应发数量</th>
                <th tb-sort="receivedNum" style="width:15%" class="text-center">实发数量</th>
                <!--<th tb-sort="provideCash" style="width:10%" class="text-center">应发现金</th>-->
                <!--<th tb-sort="receivedCash" style="width:10%;" class="text-center">实发现金</th>-->
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="row in tableData.result">
                <td class="text-center">{{row.mgmId}}</td>
                <td class="text-center">{{row.mgmName}}</td>
                <td class="text-center">{{row.activityId}}</td>
                <td class="text-center">
                    <a ui-sref="main.mgmsettledetail({mgmId:row.mgmId,couponName:row.couponName})">{{row.couponName}}</a>
                </td>
                <td class="text-center">{{row.provideNum}}</td>
                <td class="text-center">{{row.receivedNum}}</td>
                <!--<td class="text-center">{{row.provideCash}}</td>-->
                <!--<td class="text-center">{{row.receivedCash}}</td>-->
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="7" class="text-center text-bg">
                    <div class="text-right" page-control record="tableData" evname="dr.mgmSettlePagination"></div>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>