<!--概览数据-->
<div class="dr-dashboard-pane" ng-init="initPage();">
    <div class="dr-dashboard-title">
        <h3>概览数据</h3>
        <p>{{getNowViewDataText()}}</p>
        <div class="dr-dashboard-seach">
            <div class="dr-buttonSelect">
                <button class="btn btnSelect"
                        ng-click="changeSelectDay(1);"
                        ng-class="{true:'active'}[viewModel.overview.selectDay==1]">昨天
                </button>
                <button class="btn btnSelect"
                        ng-click="changeSelectDay(7);"
                        ng-class="{true:'active'}[viewModel.overview.selectDay==7]">过去7天
                </button>
                <button class="btn btnSelect"
                        ng-click="changeSelectDay(30);"
                        ng-class="{true:'active'}[viewModel.overview.selectDay==30]">过去30天
                </button>
            </div>
        </div>
    </div>
    <div class="dr-dashboard-content">
        <div class="row dr-dashboard-facts">
            <div class="col-lg-3 facts-item border-r-b" ng-repeat="x in viewModel.overViewData"
                 data-ng-class="{'true':'border-b'}[($index+1) % 4 == 0]">
                <h3>{{x.num?x.num:0}}<sup>{{x.unit?x.unit:''}}</sup></h3>
                <p>{{x.chatType}}<i class="icon-icon-question-mark" uib-tooltip="{{x.tooltip}}"></i></p>
                <div class="dr-dashboard-facts-r">
                    <h4 data-ng-class="{'true':'f-red'}[!x.ratio.startsWith('-')]">
                        <i class="icon-icon-arrow-down"></i>
                        {{x.ratio?x.ratio:0}}
                    </h4>
                    <h5>{{viewModel.overview.text}}</h5>
                </div>
            </div>
            <div class="white_line"></div>
        </div>
    </div>
    <div class="dr-dashboard-loading" ng-if="viewModel.overview.loading">
        <div class="loader">
            <div class="loader-inner pacman">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
</div>
<!--概览数据结束-->
<!--投放数据对比-->
<div class="dr-dashboard-pane">
    <div class="dr-dashboard-title">
        <h3>投放数据对比</h3>
        <p>{{viewModel.chat1.startDate| date: 'yyyy/MM/dd'}}-{{viewModel.chat1.endDate| date: 'yyyy/MM/dd'}}</p>
        <div class="dr-dashboard-seach">
            <div class="pull-right dr-last">
                          <span uib-dropdown>
                              <isteven-multi-select
                                      class="search-channel"
                                      bottom-check="true"
                                      input-model="viewModel.chat1.keywords"
                                      output-model="viewModel.chat1.keywordsSelect"
                                      button-class="btnClass"
                                      item-label="utmKeyword"
                                      search-property="utmKeyword"
                                      button-text="btnName5"
                                      disable-property="disabled"
                                      tick-property="selected"
                                      translation="localLang"
                                      max-height="250px"
                                      helper-elements="all none filter"
                                      is-disabled="viewModel.chat1.materialSelect.length>1 || viewModel.chat1.deliverplanSelect.length>1 || viewModel.chat1.adPlaceSelect.length>1  || viewModel.chat1.keyWordDisable"
                                      on-item-click="viewModel.chat1.selectKeyWord()"
                                      on-select-all="viewModel.chat1.selectKeyWord()"
                                      on-select-none="viewModel.chat1.selectKeyWord()"
                              >
                            </isteven-multi-select>
                          </span>
            </div>
            <div class="pull-right">
                <isteven-multi-select
                        class="search-channel"
                        bottom-check="true"
                        input-model="viewModel.chat1.material"
                        output-model="viewModel.chat1.materialSelect"
                        button-class="btnClass"
                        item-label="utmContent"
                        search-property="utmContent"
                        button-text="btnName4"
                        disable-property="disabled"
                        tick-property="selected"
                        translation="localLang"
                        helper-elements="all none filter"
                        is-disabled="viewModel.chat1.adPlaceSelect.length>1 || viewModel.chat1.materialDisable || viewModel.chat1.deliverplanSelect.length>1"
                        on-item-click="viewModel.chat1.seachKeyWord()"
                        on-select-all="viewModel.chat1.seachKeyWord()"
                        on-select-none="viewModel.chat1.seachKeyWord()"
                >
                </isteven-multi-select>
            </div>
            <div class="pull-right">
                <isteven-multi-select
                        class="search-channel"
                        bottom-check="true"
                        input-model="viewModel.chat1.adPlace"
                        output-model="viewModel.chat1.adPlaceSelect"
                        button-class="btnClass"
                        item-label="bannerName"
                        search-property="bannerName"
                        button-text="btnName2"
                        disable-property="disabled"
                        tick-property="selected"
                        translation="localLang"
                        helper-elements="all none filter"
                        is-disabled="viewModel.chat1.deliverplanSelect.length>1"
                        on-item-click="viewModel.chat1.seachMaterail()"
                        on-select-all="viewModel.chat1.seachMaterail()"
                        on-select-none="viewModel.chat1.seachMaterail()"
                >
                </isteven-multi-select>
            </div>
            <div class="pull-right">
                <isteven-multi-select
                        class="search-channel"
                        bottom-check="true"
                        input-model="viewModel.chat1.deliverplan"
                        output-model="viewModel.chat1.deliverplanSelect"
                        button-class="btnClass"
                        item-label="campaignName"
                        search-property="campaignName"
                        button-text="btnName1"
                        disable-property="disabled"
                        tick-property="selected"
                        translation="localLang"
                        helper-elements="all none filter"
                        on-item-click="viewModel.chat1.seachBanners()"
                        on-select-all="viewModel.chat1.seachBanners()"
                        on-select-none="viewModel.chat1.seachBanners()"
                >
                </isteven-multi-select>
            </div>

            <div class="pull-right">
                <date-range-picker min-date="viewModel.chat1.startDate" max-date="viewModel.chat1.endDate"
                                   on-ok="chat1Seach()"
                />
            </div>
            <div class="pull-right">
                <isteven-multi-select
                        class="linkbtn"
                        join-chat="joinChat"
                        input-model="viewModel.chat1.datatype"
                        output-model="viewModel.chat1.datatypeSelect"
                        button-label="dataName"
                        item-label="dataName"
                        disable-property="disabled"
                        tick-property="selected"
                        translation="localLang"
                        on-item-click="chat1Seach()"
                >
                </isteven-multi-select>
            </div>
        </div>
    </div>
    <div class="dr-dashboard-content">
        <canvas class="chart chart-bar"
                chart-data="chat1.data" chart-labels="chat1.labels"
                chart-series="chat1.series"
                chart-options="chat1Options"
        >
        </canvas>
    </div>
    <div class="dr-dashboard-loading" ng-if="viewModel.chat1.loading">
        <div class="loader">
            <div class="loader-inner pacman">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
</div>
<!--投放数据对比结束-->
<!--投放数据趋势-->
<div class="dr-dashboard-pane">
    <div class="dr-dashboard-title">
        <h3>投放数据趋势</h3>
        <p>{{viewModel.chat2.startDate| date: 'yyyy/MM/dd'}}-{{viewModel.chat2.endDate| date: 'yyyy/MM/dd'}}</p>
        <div class="dr-dashboard-seach">
            <div class="pull-right dr-last">
                      <span uib-dropdown>
                              <isteven-multi-select
                                      class="search-channel"
                                      bottom-check="true"
                                      input-model="viewModel.chat2.keywords"
                                      output-model="viewModel.chat2.keywordsSelect"
                                      button-class="btnClass"
                                      item-label="utmKeyword"
                                      search-property="utmKeyword"
                                      button-text="btnName5"
                                      disable-property="disabled"
                                      tick-property="selected"
                                      translation="localLang"
                                      max-height="250px"
                                      helper-elements="all none filter"
                                      is-disabled="viewModel.chat2.materialSelect.length>1 || viewModel.chat2.deliverplanSelect.length>1 || viewModel.chat2.adPlaceSelect.length>1 || viewModel.chat2.keyWordDisable"
                                      on-item-click="viewModel.chat2.selectKeyWord()"
                                      on-select-all="viewModel.chat2.selectKeyWord()"
                                      on-select-none="viewModel.chat2.selectKeyWord()"
                              >
                            </isteven-multi-select>
                          </span>
            </div>
            <div class="pull-right">
                <isteven-multi-select
                        class="search-channel"
                        bottom-check="true"
                        input-model="viewModel.chat2.material"
                        output-model="viewModel.chat2.materialSelect"
                        button-class="btnClass"
                        item-label="utmContent"
                        search-property="utmContent"
                        button-text="btnName4"
                        disable-property="disabled"
                        tick-property="selected"
                        translation="localLang"
                        helper-elements="all none filter"
                        is-disabled="viewModel.chat2.adPlaceSelect.length>1 || viewModel.chat2.materialDisable || viewModel.chat2.deliverplanSelect.length>1"
                        on-item-click="viewModel.chat2.seachKeyWord()"
                        on-select-all="viewModel.chat2.seachKeyWord()"
                        on-select-none="viewModel.chat2.seachKeyWord()"

                >
                </isteven-multi-select>
            </div>
            <div class="pull-right">
                <isteven-multi-select
                        class="search-channel"
                        bottom-check="true"
                        input-model="viewModel.chat2.adPlace"
                        output-model="viewModel.chat2.adPlaceSelect"
                        button-class="btnClass"
                        item-label="bannerName"
                        search-property="bannerName"
                        button-text="btnName2"
                        disable-property="disabled"
                        tick-property="selected"
                        translation="localLang"
                        helper-elements="all none filter"
                        is-disabled="viewModel.chat2.deliverplanSelect.length>1"
                        on-item-click="viewModel.chat2.seachMaterail()"
                        on-select-all="viewModel.chat2.seachMaterail()"
                        on-select-none="viewModel.chat2.seachMaterail()"
                >
                </isteven-multi-select>
            </div>
            <div class="pull-right">
                <isteven-multi-select
                        class="search-channel"
                        bottom-check="true"
                        input-model="viewModel.chat2.deliverplan"
                        output-model="viewModel.chat2.deliverplanSelect"
                        button-class="btnClass"
                        item-label="campaignName"
                        search-property="campaignName"
                        button-text="btnName1"
                        disable-property="disabled"
                        tick-property="selected"
                        translation="localLang"
                        helper-elements="all none filter"
                        on-item-click="viewModel.chat2.seachBanners()"
                        on-select-all="viewModel.chat2.seachBanners()"
                        on-select-none="viewModel.chat2.seachBanners()"
                >
                </isteven-multi-select>
            </div>
            <div class="pull-right">
                <date-range-picker min-date="viewModel.chat2.startDate" max-date="viewModel.chat2.endDate"
                                   on-ok="chat2Seach()"
                />
            </div>
            <div class="pull-right">
                <isteven-multi-select
                        class="linkbtn"
                        join-chat="joinChat"
                        input-model="viewModel.chat2.datatype"
                        output-model="viewModel.chat2.datatypeSelect"
                        button-label="dataName"
                        item-label="dataName"
                        disable-property="disabled"
                        tick-property="selected"
                        translation="localLang"
                        selection-mode="single"
                        on-item-click="chat2Seach()"
                >
                </isteven-multi-select>
            </div>
        </div>
    </div>
    <div class="dr-dashboard-content">
        <canvas class="chart chart-line"
                ng-if="viewModel.chat2.dataShow;"
                chart-data="chat2.data" chart-labels="chat2.labels"
                chart-options="chat2Options"
                chart-dataset-override="chat2DatasetOverride"
                chart-series="chat2.series">
        </canvas>
        <div ng-if="!viewModel.chat2.dataShow;" class="dr-dashboard-none">
            <h1 style="text-align: center;margin: auto auto;font-size: -webkit-xxx-large">暂无数据</h1>
        </div>
    </div>
    <div class="dr-dashboard-loading" ng-if="viewModel.chat2.loading">
        <div class="loader">
            <div class="loader-inner pacman">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
</div>
<!--投放数据趋势结束-->
<!--渠道投放转化率-->
<div class="dr-dashboard-pane ">
    <div class="dr-dashboard-title">
        <h3>渠道投放转化率</h3>
        <p>{{viewModel.chat3.startDate| date: 'yyyy/MM/dd'}}-{{viewModel.chat3.endDate| date: 'yyyy/MM/dd'}}</p>
        <div class="dr-dashboard-seach">
            <div class="pull-right dr-last">
                      <span uib-dropdown class="span-last">
                              <isteven-multi-select
                                      class="search-channel"
                                      bottom-check="true"
                                      input-model="viewModel.chat3.keywords"
                                      output-model="viewModel.chat3.keywordsSelect"
                                      item-label="utmKeyword"
                                      button-class="btnClass"
                                      button-text="btnName5"
                                      search-property="utmKeyword"
                                      disable-property="disabled"
                                      tick-property="selected"
                                      translation="localLang"
                                      max-height="250px"
                                      is-disabled="viewModel.chat3.materialSelect.length>1 || viewModel.chat3.deliverplanSelect.length>1 || viewModel.chat3.adPlaceSelect.length>1 || viewModel.chat3.keyWordDisable"
                                      helper-elements="all none filter"
                                      on-item-click="viewModel.chat3.selectKeyWord()"
                                      on-select-all="viewModel.chat3.selectKeyWord()"
                                      on-select-none="viewModel.chat3.selectKeyWord()"
                              >
                            </isteven-multi-select>
                          </span>
            </div>
            <div class="pull-right">
                <isteven-multi-select
                        class="search-channel"
                        bottom-check="true"
                        input-model="viewModel.chat3.material"
                        output-model="viewModel.chat3.materialSelect"
                        button-class="btnClass"
                        item-label="utmContent"
                        search-property="utmContent"
                        button-text="btnName4"
                        disable-property="disabled"
                        tick-property="selected"
                        translation="localLang"
                        max-height="250px"
                        helper-elements="all none filter"
                        is-disabled="viewModel.chat3.adPlaceSelect.length>1 || viewModel.chat3.materialDisable || viewModel.chat3.deliverplanSelect.length>1"
                        on-item-click="viewModel.chat3.seachKeyWord()"
                        on-select-all="viewModel.chat3.seachKeyWord()"
                        on-select-none="viewModel.chat3.seachKeyWord()"
                >
                </isteven-multi-select>
            </div>
            <div class="pull-right">
                <isteven-multi-select
                        class="search-channel"
                        bottom-check="true"
                        input-model="viewModel.chat3.adPlace"
                        output-model="viewModel.chat3.adPlaceSelect"
                        button-class="btnClass"
                        item-label="bannerName"
                        search-property="bannerName"
                        button-text="btnName2"
                        disable-property="disabled"
                        tick-property="selected"
                        translation="localLang"
                        max-height="250px"
                        helper-elements="all none filter"
                        is-disabled="viewModel.chat3.deliverplanSelect.length>1"
                        on-item-click="viewModel.chat3.seachMaterail()"
                        on-select-all="viewModel.chat3.seachMaterail()"
                        on-select-none="viewModel.chat3.seachMaterail()"
                >
                </isteven-multi-select>
            </div>
            <div class="pull-right">
                <isteven-multi-select
                        class="search-channel"
                        bottom-check="true"
                        input-model="viewModel.chat3.deliverplan"
                        output-model="viewModel.chat3.deliverplanSelect"
                        button-class="btnClass"
                        item-label="campaignName"
                        search-property="campaignName"
                        button-text="btnName1"
                        disable-property="disabled"
                        tick-property="selected"
                        translation="localLang"
                        max-height="250px"
                        helper-elements="all none filter"
                        on-item-click="viewModel.chat3.seachBanners()"
                        on-select-all="viewModel.chat3.seachBanners()"
                        on-select-none="viewModel.chat3.seachBanners()"
                >
                </isteven-multi-select>
            </div>

            <div class="pull-right">
                <div class="btn-group" uib-dropdown auto-close="outsideClick">
                    <button id="" type="button" class="btn btnSelect dropdown-toggle" uib-dropdown-toggle>
                        <i class="icon-icon-filter-category"></i> 漏斗类型
                    </button>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li class="customSelect" ng-repeat="item in viewModel.chat3.funnelTypeInit">
                            <a href ng-click="funnelTypeClick(item,'single')">
                                <span style="margin-right:10px;" ng-show="item.selected">✓</span>
                                {{item.dataName}}
                            </a>
                        </li>
                        <li class="customSelect" ng-repeat="item in viewModel.chat3.datatype"
                            ng-if="showMultipleFunnelType">
                            <a href ng-click="funnelTypeClick(item,'multiple')"
                               ng-class="{true:'disabled', false: ''}[item.disabled]">
                                <span style="margin-right:10px;" ng-show="item.selected">✓</span>
                                {{item.dataName}}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="pull-right">
                <date-range-picker min-date="viewModel.chat3.startDate" max-date="viewModel.chat3.endDate"
                                   on-ok="chat3Seach()"
                />
            </div>
        </div>
    </div>
    <div class="dr-dashboard-content">
        <div e-chart e-data="chat3Option" style="width: 80%;height:556px;margin: 0 auto;"></div>
    </div>
    <div class="dr-dashboard-loading" ng-if="viewModel.chat3.loading">
        <div class="loader">
            <div class="loader-inner pacman">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
</div>
<!--渠道投放转化率结束-->
<!--排行榜开始-->
<div class="dr-dashboard-pane " ng-if="viewModel.chat4.show">
    <div class="dr-dashboard-title">
        <h3>{{viewModel.chat4.title}}前十名</h3>
        <p>{{viewModel.chat4.startDate| date: 'yyyy/MM/dd'}}-{{viewModel.chat4.endDate| date: 'yyyy/MM/dd'}}</p>
        <div class="dr-dashboard-seach">
            <div class="pull-right dr-last">
                <isteven-multi-select
                        class="linkbtn"
                        join-chat="joinChat"
                        input-model="viewModel.chat4.datatype"
                        output-model="viewModel.chat4.datatypeSelect"
                        button-label="dataName"
                        item-label="dataName"
                        disable-property="disabled"
                        tick-property="selected"
                        translation="localLang"
                        selection-mode="single"
                        on-item-click="chat4Seach()"
                >
                </isteven-multi-select>
            </div>
            <div class="pull-right">
                <date-range-picker min-date="viewModel.chat4.startDate" max-date="viewModel.chat4.endDate"
                                   on-ok="chat4Seach()"
                />
            </div>
        </div>
    </div>
    <div class="dr-dashboard-content">
        <div e-chart-bar e-data="chat4Option" style="width: 80%;height:556px;margin: 0 auto;"></div>
    </div>
    <div class="dr-dashboard-loading" ng-if="viewModel.chat4.loading">
        <div class="loader">
            <div class="loader-inner pacman">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
</div>
<!--排行榜结束-->
<!--留存日报 开始-->
<div class="dr-dashboard-pane ">
    <div class="dr-dashboard-title">
        <h3>渠道留存日报</h3>
        <div class="dr-dashboard-seach">
            <div class="pull-right">
                <button class="btn btn-link" ng-click="exportOverReport()">
                    <i class="icon-icon-excel"></i>导出
                </button>
            </div>
        </div>
    </div>
    <div class="dr-dashboard-content">
        <div class="text-center">
            <b>留存人数</b>
        </div>
        <div class="dr-tb-container">
            <table class="table">
                <thead>
                <tr>
                    <th style="width:9%;">首次投资月份</th>
                    <th style="width:7%;">M</th>
                    <th style="width:7%;">M+1</th>
                    <th style="width:7%;">M+2</th>
                    <th style="width:7%;">M+3</th>
                    <th style="width:7%;">M+4</th>
                    <th style="width:7%;">M+5</th>
                    <th style="width:7%;">M+6</th>
                    <th style="width:7%;">M+7</th>
                    <th style="width:7%;">M+8</th>
                    <th style="width:7%;">M+9</th>
                    <th style="width:7%;">M+10</th>
                    <th style="width:7%;">M+11</th>
                    <th style="width:7%;">M+12</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="row in countList track by $index">
                    <td>{{row.invest1stTime}}</td>
                    <td>{{row.column0 | number}}</td>
                    <td>{{row.column1 | number}}</td>
                    <td>{{row.column2 | number}}</td>
                    <td>{{row.column3 | number}}</td>
                    <td>{{row.column4 | number}}</td>
                    <td>{{row.column5 | number}}</td>
                    <td>{{row.column6 | number}}</td>
                    <td>{{row.column7 | number}}</td>
                    <td>{{row.column8 | number}}</td>
                    <td>{{row.column9 | number}}</td>
                    <td>{{row.column10 | number}}</td>
                    <td>{{row.column11 | number}}</td>
                    <td>{{row.column12 | number}}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="text-center">
            <b>投资额</b>
        </div>
        <div class="dr-tb-container">
            <table class="table">
                <thead>
                <tr>
                    <th style="width:9%;">首次投资月份</th>
                    <th style="width:7%;">M</th>
                    <th style="width:7%;">M+1</th>
                    <th style="width:7%;">M+2</th>
                    <th style="width:7%;">M+3</th>
                    <th style="width:7%;">M+4</th>
                    <th style="width:7%;">M+5</th>
                    <th style="width:7%;">M+6</th>
                    <th style="width:7%;">M+7</th>
                    <th style="width:7%;">M+8</th>
                    <th style="width:7%;">M+9</th>
                    <th style="width:7%;">M+10</th>
                    <th style="width:7%;">M+11</th>
                    <th style="width:7%;">M+12</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="row in sumMoneyList track by $index">
                    <td>{{row.invest1stTime}}</td>
                    <td>{{row.column0 | number:2}}</td>
                    <td>{{row.column1 | number:2}}</td>
                    <td>{{row.column2 | number:2}}</td>
                    <td>{{row.column3 | number:2}}</td>
                    <td>{{row.column4 | number:2}}</td>
                    <td>{{row.column5 | number:2}}</td>
                    <td>{{row.column6 | number:2}}</td>
                    <td>{{row.column7 | number:2}}</td>
                    <td>{{row.column8 | number:2}}</td>
                    <td>{{row.column9 | number:2}}</td>
                    <td>{{row.column10 | number:2}}</td>
                    <td>{{row.column11 | number:2}}</td>
                    <td>{{row.column12 | number:2}}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="text-center">
            <b>持有余额</b>
        </div>
        <div class="dr-tb-container">
            <table class="table">
                <thead>
                <tr>
                    <th style="width:9%;">首次投资月份</th>
                    <th style="width:7%;">M</th>
                    <th style="width:7%;">M+1</th>
                    <th style="width:7%;">M+2</th>
                    <th style="width:7%;">M+3</th>
                    <th style="width:7%;">M+4</th>
                    <th style="width:7%;">M+5</th>
                    <th style="width:7%;">M+6</th>
                    <th style="width:7%;">M+7</th>
                    <th style="width:7%;">M+8</th>
                    <th style="width:7%;">M+9</th>
                    <th style="width:7%;">M+10</th>
                    <th style="width:7%;">M+11</th>
                    <th style="width:7%;">M+12</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="row in holdMoneyList track by $index">
                    <td>{{row.invest1stTime}}</td>
                    <td>{{row.column0 | number:2}}</td>
                    <td>{{row.column1 | number:2}}</td>
                    <td>{{row.column2 | number:2}}</td>
                    <td>{{row.column3 | number:2}}</td>
                    <td>{{row.column4 | number:2}}</td>
                    <td>{{row.column5 | number:2}}</td>
                    <td>{{row.column6 | number:2}}</td>
                    <td>{{row.column7 | number:2}}</td>
                    <td>{{row.column8 | number:2}}</td>
                    <td>{{row.column9 | number:2}}</td>
                    <td>{{row.column10 | number:2}}</td>
                    <td>{{row.column11 | number:2}}</td>
                    <td>{{row.column12 | number:2}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!--留存日报 结束-->
