<div>
    <ul id="Tab1" class="nav nav-tabs dr-tab">
         <li ui-sref-active="active">
            <a ui-sref="main.bi.tab1">运营卡券日报</a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="main.bi.tab2">渠道转化率日报</a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="main.bi.tab3">渠道在持金额日报</a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="main.bi.tab4">渠道日报表</a>
        </li>
    </ul>
    <div class="tab-content" ui-view>

    </div>
</div>